<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/jam_transparent_side.png">
    <link rel="stylesheet" href="/css/gist-monokai.css" media="all">
    <link rel="stylesheet" href="/css/sticky_sidebar.css" media="all">
    <link rel="stylesheet" href="/css/post.css" media="all">
    <link rel="stylesheet" href="/css/global.css" media="all">
    {{#if post}}
        <meta property="og:title" content="{{post.title}}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="jam1garner" />
        <meta property="og:image" content="{{post.thumbnail}}" />
        <meta property="og:description"content="Blog post from {{post.date}}">
    {{/if}}
</head>
<body>
    {{> sticky}}
    {{#if post}}
        <article>{{{post.body}}}</article>
    {{else}}
        <p class="no-post">Post data not found.</p>
    {{/if}}
</body>
</html>
