<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects | jam1garner</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/jam_transparent_side.png">
    <link rel="stylesheet" href="/css/gist-monokai.css" media="all">
    <link rel="stylesheet" href="/css/sticky_sidebar.css" media="all">
    <link rel="stylesheet" href="/css/global.css" media="all">
    <link rel="stylesheet" href="/css/projects.css" media="all">
    {{#if post}}
        <meta property="og:title" content="Projects" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="jam1garner" />
        <meta property="og:description"content="All the things I've made over the past couple years">
    {{/if}}
</head>
<body>
    {{> sticky}}
    <article>
        <h1>Projects</h1>
        {{#each projects}}
        <section class="project">
            <div class="project-table">
                <div class="text">
                    {{#each projects}}
                        <div class="individual">
                            <a class="github" href="{{github}}">
                                <h2>{{name}}</h2>
                                <img src="/img/github_light.png" alt="Github">
                            </a>
                            <p>{{description}}</p>
                        </div>
                    {{/each}}
                </div>
                <div class="image">
                    {{#if embed}}
                        {{{embed}}}
                    {{else}}
                        {{#if image}}
                            <img src="{{image}}" alt="">
                        {{/if}}
                    {{/if}}
                    {{#if caption}}
                        <p class="caption">{{caption}}</p>
                    {{/if}}
                </div>
            </div>
            <hr>
        </section>
        {{/each}}
    </article>
</body>
</html>

